doctype
html
  head
    meta(charset='utf-8')
    title Placeholder Image Generator
    style.
      body {
        font-family: 'HelveticaNeue', 'Helvetica', Arial, sans-serif;
        font-size: 15px;
        background-color: #eee;
        line-height: 1.4;
      }

      #container {
        border: 1px solid #ccc;
        box-shadow: 0px 3px 0px -1px #ccc;
        background-color: #fff;
        border-radius: 3px;
        width: 650px;
        margin: 40px auto;
        padding: 0px 25px;
      }

      pre {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 3px;
        background-color: #fafafa;
        font-size: 14px;
        font-family: 'Monaco', monospace;
      }
      code {
        padding: 0px 3px;
      }

  body
    #container!=readme

    #container
      h2 Live Examples

      each imgLink in [ '/650x200', '/650x300.jpg?text=Placeholder+Text', '/650x220.jpg?text=Pink!&color=ff00ff&textColor=fff', '/200', ]
        a(href=imgLink)= imgLink
        p 
          a(href=imgLink)
            img(src=imgLink)
